.aurora-container {
  width: 100%;
  height: 100%;
  -webkit-mask-image: linear-gradient(to right, #000 0% 55%, #000c 70%, #0006 80%, #0000 100%);
  mask-image: linear-gradient(to right, #000 0% 55%, #000c 70%, #0006 80%, #0000 100%);
}

.aurora-container canvas {
  display: block;
}
